<div class="jumbotron">
    <h1>Questai  Web API</h1>
    <p class="lead">Questai API is a WebAPI for building methods and controllers in Azure.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Questai Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices.Questai Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
</div>
