<div class="jumbotron">
    <h1>Questai  Web API</h1>
    <p class="lead">Questai API is a WebAPI for building methods and controllers in Azure.</p>
    <p><a href="/help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Questai Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices.Questai Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="/help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security & Scalability </h2>
        <p>The API has a Token Based Security Framework and Dependency Injection (DI). You can build secure request as well as the possibility of 
        adding more functionality in a tight coupled system.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=gkWb7yQb6ro">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loggin system </h2>
        <p>Since we are writing web services, we are exposing our end points. We must know 
        where the requests are coming from and what requests are coming to our server. 
        Logging could be very beneficial and helps us in a lot of ways like, debugging, tracing, monitoring and analytics.</p>
        <p><a class="btn btn-default" href="http://NLog-project.org/"> Learn more &raquo;</a></p>
    </div>
</div>
